node_modules/*
dist/js/model/*
dist/js/controller/*
dist/js/factories/*
dist/js/decoders/*
dist/js/interfaces/*
dist/js/enums/*
dist/js/bundle.*
dist/js/inversify.*
dist/js/types.*
dist/js/bindDependencies.*
dist/js/custom_types/*
dist/js/view/*
dist/js/utils/*
dist/js/server/*
src/controller/minimap/*
*~
coverage/*
coverage/index.html
.nyc_output/*
